<div class="wrapper">
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a routerLink="/hodDashboard" class="brand-link">
            <img src="https://user-images.githubusercontent.com/42808213/134984393-da7b40a0-f399-43fa-8882-94f559b7096e.png"
                alt="Eduflex Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">EduFlex</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="https://avatars.githubusercontent.com/u/42808213?v=4" class="img-circle elevation-2"
                        alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Akshay Sargar</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <li class="nav-item">
                        <a routerLink="./hod-dashboard" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>

                    <li class="nav-header">FACULTY</li>
                    <li class="nav-item">
                        <a routerLink="./manage-faculty" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-chalkboard-teacher"> </i>
                            <p>
                                Manage Faculty
                                <!-- <span class="badge badge-info right">2</span> -->
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./add-faculty" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-plus-circle"></i>
                            <p>
                                Add Faculty
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./faculty-feedback" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-envelope"></i>
                            <p>
                                Faculty Feedback
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./faculty-leave" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-door-open"></i>
                            <p>
                                Faculty Leave
                            </p>
                        </a>
                    </li>

                    <li class="nav-header">STUDENT</li>
                    <li class="nav-item">
                        <a routerLink="./manage-student" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-user-graduate"></i>
                            <p>
                                Manage Student
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./add-student" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-plus-circle"></i>
                            <p>
                                Add Student
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./student-feedback" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-envelope"></i>
                            <p>
                                Student Feedack
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./student-leave" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-door-open"></i>
                            <p>
                                Student Leave
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./student-attendance" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-portrait"></i>
                            <p>
                                View Attendance
                            </p>
                        </a>
                    </li>

                    <li class="nav-header">CURRICULUM</li>
                    <li class="nav-item">
                        <a routerLink="./manage-course" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-swatchbook"></i>
                            <p>
                                Manage Course
                                <!-- <span class="badge badge-info right">2</span> -->
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./add-course" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-plus-circle"></i>
                            <p>
                                Add Course
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./manage-subject" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-book"></i>
                            <p>
                                Manage Subject
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./add-subject" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-plus-circle"></i>
                            <p>
                                Add Subject
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./manage-class-year" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-graduation-cap"></i>
                            <p>
                                Manage Class Year
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./add-class-year" routerLinkActive="active" class="nav-link">
                            <i class="nav-icon fas fa-plus-circle"></i>
                            <p>
                                Add Class Year
                            </p>
                        </a>
                    </li>
                    <li class="nav-header"></li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->

    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->
