<div class="row" style="margin-left: 400px; margin-top: 100px;">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Login to Eduflex</h3>
            </div>
            <form role="form" [formGroup]="loginForm">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">User Type</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="role" id="inlineRadio1" value="hod"
                                formControlName="role">
                            <label class="form-check-label" for="inlineRadio1">Hod</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="role" id="inlineRadio2" value="faculty"
                                formControlName="role">
                            <label class="form-check-label" for="inlineRadio2">Faculty</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="role" id="inlineRadio3" value="student"
                                formControlName="role">
                            <label class="form-check-label" for="inlineRadio3">Student</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter username"
                            formControlName="username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Enter password" formControlName="password">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>