<!-- Main content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Add Faculty Feedback</h1>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add Faculty Feedback</h3>
                        </div>
                        <!-- /.card-header -->

                        <!-- form start -->
                        <form [formGroup]="addFacultyFeedbackForm">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="courseName">Faculty Name</label>
                                    <input type="text" name="courseName" id="courseName" class="form-control"
                                        placeholder="Enter Full Name" formControlName="facultyName" disabled>
                                    <small id="helpId" class="text-muted">Faculty Name Goes Here</small>
                                </div>
                                <div class="form-group">
                                    <label for="courseName">Feedback</label>
                                    <input type="text" name="courseName" id="courseName" class="form-control"
                                        placeholder="Enter Full Name" formControlName="facultyFeedback">
                                    <small id="helpId" class="text-muted">Feedback Goes Here</small>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="button" class="btn btn-primary"
                                    (click)="addFacultyFeedback()">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Faculty Feedback</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Faculty Feedback Details</h3>
                        </div>
                        <!-- ./card-header -->
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Faculty</th>
                                        <th>Feedback</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let facultyFeedback of facultyFeedbackList"
                                        data-widget="expandable-table" aria-expanded="false">
                                        <td>{{facultyFeedback.facultyFeedbackId}}</td>
                                        <td>{{faculty.facultyName}}</td>
                                        <td>{{facultyFeedback.facultyFeedback}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<div class="content-wrapper">

</div>